
PORT = 
DB_URI =""
DB_NAME = ""
NODE_ENV = ''


#Cloudinary 
CLOUDINARR_API_KEY = 
CLOUDINAR_SECRET_KEY = 
CLOUDINAR_CLOUD_NAME = 

#jwt
JWT_EXPIRES_IN = ''
JWT_SECRET = ''
COOKIE_EXPIRES_IN = 

#nodemailer 
SMTP_HOST = ''
SMTP_PORT= 
SMTP_SERVICE = 'gmail'
SMTP_USER = '.
'
SMTP_PASS = '   '